= simple_form_for(@brew, :wrapper => :brewtime) do |f|
  = f.error_notification

  .form-inputs
    = f.label :name
    = f.text_field :name, :label => 'Name'
    
    = f.label :brewed
    = f.text_field :brewed, :as => :datetime, :class => :datepicker
    = f.error :brewed, :class => :error
    
    = f.fields_for :steps do |builder|
      = render 'steps/step_fields', :f => builder

  .form-actions
    = f.button :submit
